# Include template M8 files
include m8/templates/*.m8s

# Include package data
recursive-include m8 *.py

# Include documentation
include README.md
include LICENSE

# Exclude development files
exclude pyproject.toml
exclude requirements-dev.txt
recursive-exclude tests *
recursive-exclude demos *
recursive-exclude tools *
recursive-exclude dev *
